/* CSS Reset */
* {
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #F7F7F7;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
/* End CSS Reset */


/* Settings */
.container {
    width: 100%;
}

.max-w-8 {
    max-width: 80%;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.grid {
    display: grid;
}

.col-2 {
    width: 50%;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.gap-2 {
    gap: 2rem;
}

.gap-y {
    row-gap: 4rem;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.font-bold {
    font-weight: bold;
}

.font-thin {
    font-weight: thin;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

button {
    border: none;
}

/* End Settings */



/* Nav */
nav {
    /* background-color: #F7F7F7; */
    /* background-color: salmon; */
    overflow: hidden;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.nav {
    padding: 20px;
}

.nav li a {
    padding: 8px 20px;
}

.nav li a:hover {
    color: #000;
    border-radius: 6px;
}

.nav li .logo {
    color: #3353BC;
}

.nav li a{ 
    color: #CBCBCB;
}

.nav li .active {
    color: #000;
}


/* Banner */
.banner {
    margin: 30px 30px 0 30px;

    /* height: 300px; */
    padding: 50px;
    background-color: #3353BC;
    border-radius: 8px;
    flex-direction: row-reverse;
}

.judul-banner {
    width: 50%;
    color: whitesmoke;
    font-size: 50px;
    /* background-color: salmon; */
}

.gambar-banner {
    width: 50%;
}

.gambar-banner img {
    width: 250px;
    /* background-color: slateblue; */
    align-content: center;
}

/* End Banner */

/* End Nav */



/* Main */
main {
    background-color: #F7F7F7;
}

.cards {
    width: 80%;
}

.card {
    width: 300px;
    height: auto;
    display: block;
    margin: 50px 0;
    background-color: whitesmoke;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 14px 64px rgba(0, 0, 0, 0.6);
}

.card>img {
    /* width: fit-content; */
    width: 300px;
    height: auto;
}

.thumbnail {
    width: 250px;
    height: auto;
}

.info {
    padding: 20px;
}

.title>p {
    font-weight: 700;
    font-size: large;
}

.description {
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 20px;
}

.star {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: rebeccapurple;
    width: 100%;
    margin:20px 0 20px 0;
    
    /* width: max-content; */
}

.btn:hover {
    background-color: blue;
}

/* End Main */



/* Footer */
footer {
    background-color: #262626;
    overflow: hidden;
    color: whitesmoke;
}
.cpr {
    float: left;
    padding: 20px;
}

.contact {
    float: right;
    display: flex;
    padding: 20px;
}

.contact li a{
    margin: 0 10px;
    color: whitesmoke;
}
/* End Footer */






/* Play Ground */
.cards1 {
    /* background-color: white; */
    /* max-width: 80%; */
    padding: 50px 20px;
}

.card1 {
    /* margin: 20px; */
    padding: 30px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}

.thumb {
    /* width: fit-content; */
    width: 100%;
    
}

.thumb>img{
    width: 100%;
    
    border-radius: 8px;
}

.judul1 p {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.desc p {
    margin: 20px 0;
    text-align: center;
}

.rating {
    justify-content: center;

}

.pinjam {
    margin-top: 20px;
    padding: 16px 0;
    width: 100%;
    border-radius: 8px;
    background-color: #262626;
    color: whitesmoke;
    font-size: 18px;
}

.pinjam:hover {
    background-color: black;
    transition: 0.2s ease-in-out;
}

.a {
    display: block;
    font-size: 20px;
}
/* End Play Ground */



.nav {
    display: none;
}






/* Customize CSS */

/* SVG */
.h-5 {
    height: 1.5rem;
}

.w-5 {
    width: 1.5rem;
}
/* End Customize CSS */


/* Responsive */
@media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
    .nav {
        display: flex;
        justify-content: space-between;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
  
  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }
  
  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }
  
  @media (min-width: 1536px) {
    .container {
      max-width: 1536px;
    }
  }
/* End Responsive */